<%- include('./includes/head',{pageTitle:'signup'}) %>
</head>
    <body>
        <%- include('./includes/header') %>
        <main>
            <h1>You are not authenticated</h1>
            <p><a class="btn btn-warning btn-sm" href="/">Return to homepage</a></p>
        </main>
    </body>
    </html>
<%- include('./includes/footer') %>

