<%- include('./includes/head',{pageTitle:'signup'}) %>
</head>
    <body>
        <%- include('./includes/header') %>
        <main>
            <h1>Something went wrong, please try again</h1>
            <p><a class="btn" href="/">Return to homepage</a></p>
        </main>
    </body>
    </html>
<%- include('./includes/footer') %>

