<article class="product-item">
    <img src="<%= product.imageUrl %>" alt="<%= product.imageName %>">
    <h2> <%= product.title %> </h2>
    <div>
        <a href="/admin/products/<%=product.id%>" class="btn btn-warning btn-sm" >View & Edit</a>
        <a href="" class="btn btn-danger btn-sm" >Delete</a>
    </div>
</article>