<%- include('../../shared/includes/head',{pageTitle: 'All Your Orders'}) %>
<link rel="stylesheet" href="styles/order.css">

</head>
    <body>
        <%- include('../../shared/includes/header') %>
        <main>
            <h1> Order payment failed</h1>
            <p> Please try again</p>
        </main>
    </body>
<%- include('../../shared/includes/footer') %>

