<%- include('../../shared/includes/head',{pageTitle: 'All Your Orders'}) %>
<link rel="stylesheet" href="styles/order.css">

</head>
    <body>
        <%- include('../../shared/includes/header') %>
        <main>
            <h1> Order payment was successful</h1>
            <p> You can visit <a href="/orders">the orders page</a> to find your orders.</p>
        </main>
    </body>
<%- include('../../shared/includes/footer') %>