<header id="main-header">
    <div id="main-logo"><a href="/">Topazio Shop</a> </div>
    <nav>
        <%- include('navigation-bar-item') %>
    </nav>

    <button id="mobile-menu-btn">
        <span></span>
        <span></span>
        <span></span>
    </button>
    

</header>

<aside id="mobile-menu">
    <%- include('navigation-bar-item') %>

</aside>