form hr{
    margin:1rem;
}

label {
    color:antiquewhite;
    display:block;
    margin-bottom: 0.25rem;
}

input,
textarea{
    font: inherit;
    width: 90%;
    border-radius: 4px;
    padding: 0.2rem 0;
}

#uploaded-image{
    display: flex;
    align-items: center;
}

#uploaded-image input{
    max-width: 15rem;
}

#uploaded-image img{
    display:none;
    width:  4rem;
    height: 4rem;
    object-fit: cover;
    border-radius: 4px;
}