.order-item {
    background-color: rgb(62, 61, 61);
    border-radius: 16px;
    padding: 1rem;
    margin: 2rem 0;
  }
  
  .order-summary {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
  }
  
  .order-summary h2,
  .order-summary p {
    font-size: 1.25rem;
    font-weight: normal;
    margin: 0;
  }
  
.order-item-price {
    color: orange;
  } 
  
  .order-item .status {
    display: flex;
    min-width: 15rem;
  }
  
  .order-item .status .badge {
    margin-right: 1rem;
  }
  
  .order-details ul {
    list-style: square;
    margin-left: 2rem;
  }
  
  .order-details li {
    margin-bottom: 1rem;
  }
  
  .order-item select {
    font: inherit;
    padding: 1rem;
    border-radius:4px;
  }
  
  @media (min-width: 48rem) {
    .order-summary {
      flex-direction: row;
    }
  }