.img-thumbnail{
    background: rgb(94, 76, 48);
    border: 0px;
    padding: 0.5px;
}

.product-item{
    border-radius: 7px;
    text-align: center;
    background-color: rgb(8, 8, 8);
    overflow: hidden;
    margin-bottom: 1rem;

}
.product-item img{
    width: 100%;
    height: 12rem;
    object-fit: cover;
}

.product-text{
    padding: 0.2rem;
}   

.product-text h2{
    font-size: 1.3rem;
    margin: 0.5rem;
}  

.product-text h2{
    font-size: 1.3rem;
    margin: 0.5rem;
}   
.product-btn{
    margin-bottom: 0.5rem;
}

.product-btn a{
    margin-right:1rem ;
}

#product-grid{
    margin: 1rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(15rem,1fr));
    gap: 1rem

}

#product-details header {
    margin-top: 1rem;
    padding: 1rem;
    background-color: rgb(28, 27, 27);
    gap: var(--space-8);
  }
  
  #product-details img {
    width: 100%;
    height: 6rem;
    object-fit: cover;
    border-radius: 6px;
    border: 1px solid gray
  }
  
  #product-info {
    text-align: center;
  }
  
  #product-description {
    background-color: rgb(54, 51, 51);
    padding: 0.5rem;
    white-space: pre-wrap;
  }
  
  @media (min-width: 48rem) {
    #product-details header {
      display: flex;
    }
  
    #product-details img {
      width: 20rem;
      height: 15rem;
    
      margin: 1rem;
    }
  
    #product-info {
      text-align: left;
    }
  }
