<%- include('../../shared/includes/head',{pageTitle: 'Your Cart'}) %>
<link rel="stylesheet" href="/styles/cart.css">

</head>
    <body>
        <%- include('../../shared/includes/header') %>
        <main>
            <h1> Your Cart</h1>
            <ul id="cart-items">
                <li>
                    <article class="cart-item">
                        <div class="cart-item-info">
                            <h2> Product Title</h2>
                            <p>Total Price (Per unit price)</p>
                        </div>

                        <div class="cart-item-management">
                            <input type="number" required>
                            <button class="btn">Update</button>
                        </div>
                    </article>
                </li>
            </ul>

            <div id="cart-total">
                <p>Total: $$$</p>
                <button class="">Buy Products</button>
            </div>
        </main>
    </body>
<%- include('../../shared/includes/footer') %>

