<%- include('../../shared/includes/head',{pageTitle:'Edit products'}) %>
<link rel="stylesheet" href="/styles/form.css">
</head>
    <body>
        <%- include('../../shared/includes/header') %>
        <main>
            <h1> Edit products</h1>
            <%- include('includes/product-form',{submitPath:'/admin/products/'+productDetails.id,productDetails:productDetails,imageRequired:false}) %>
        </main>
    </body>
<%- include('../../shared/includes/footer') %>
