<%- include('../../shared/includes/head',{pageTitle:'New Products'}) %>
<link rel="stylesheet" href="/styles/form.css">
</head>
    <body>
        <%- include('../../shared/includes/header') %>
        <main>
            <h1> New products</h1>
            <form action="/admin/addproducts?_csrf=<%= locals.csrfToken %>" method="POST" enctype="multipart/form-data">
                <p>
                    <label for="input">Title</label>
                    <input type="text" id="input" name="title" required>
                </p>
                <p>
                    <label for="productImage">Product image</label>
                    <input type="file" id="productImage" name="productImage" accept=".png,.jpg,jpeg">
                </p>
                <p>
                    <label for="productSummary">Product Summary</label>
                    <input type="text" id="productSummary" name="productSummary" maxlength="255" required >
                </p>
                <p>
                    <label for="productPrice">Price</label>
                    <input type="text" id="productPrice" name="productPrice" min="0.01" step="1" required >
                </p>
                <p>
                    <label for="productDescription">Product description</label>
                    <textarea id="productDescription" name="productDescription" cols="30" rows="6" required></textarea>
                </p>

                <p>
                    <button type="reset" class="btn reset-btn ">Reset</button>
                    <button class="btn">Submit</button>
                </p>
            </form>


        </main>
    </body>
<%- include('../../shared/includes/footer') %>
