<%- include('../../shared/includes/head',{pageTitle:'New Products'}) %>
<link rel="stylesheet" href="/styles/form.css">
</head>
    <body>
        <%- include('../../shared/includes/header') %>
        <main>
            <h1> New products</h1>
            <%- include('includes/product-form',{submitPath:'/admin/products',productDetails:{ title:'',summary:'',price:'',description:''}}) %>
        </main>
    </body>
<%- include('../../shared/includes/footer') %>
