<%- include('../includes/head',pageTitle:'signup') %>
    <body>
        <%- include('../includes/header') %>
        <main>
            <h1> Create New Account</h1>
            <form action="" method="">
            <p>
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>
            </p>  
            </form>
        </main>
    </body>
<%- include('../includes/footer') %>